In [1]:
# import requests
# import json
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns


from pokemon import generation_df, team_df

team_df(12,34)

,dex_id,name,type,type_2,hp,attack,defense,sp_atk,sp_def,speed
0,12,butterfree,bug,flying,60,45,50,90,80,70
1,34,nidoking,poison,ground,81,102,77,85,75,85

In [12]:
import pandas as pd

type_chart = pd.read_csv('../Pokemon/data/type_chart.csv')

In [13]:
type_chart.head()

,Index,Normal,Fire,Water,Grass,Electric,Ice,Fighting,Poison,Ground,Flying,Psychic,Bug,Rock,Ghost,Dragon,Dark,Steel
0,Normal,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,0.0,1.0,1.0,0.5
1,Fire,1,0.5,0.5,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,0.5,1.0,0.5,1.0,2.0
2,Water,1,2.0,0.5,0.5,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,0.5,1.0,1.0
3,Grass,1,0.5,2.0,0.5,1.0,1.0,1.0,0.5,2.0,0.5,1.0,0.5,2.0,1.0,0.5,1.0,0.5
4,Electric,1,1.0,2.0,0.5,0.5,1.0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,1.0,0.5,1.0,1.0